/*####版面設計####*/	

body{margin: 24px 18px;
font-family: arial,'微軟正黑體',	 sans-serif;	
}










#container{	
	width: 960px
	margin: auto;
}

header{
	margin-bottom: 10px;
	overflow: hidden;
}


#headerpost{
	margin-bottom: 30px;
	overflow: hidden;
}



#content{
	margin-bottom: 30px;
	overflow: hidden;
}


footer{
	margin-bottom: 30px;
}